.container-fluid
{
	position: absolute;
	#height: 200%;
}
body {
    padding-top: 10px;
}
.h3ad3r
{
    height: 18%;
    width: 100%;
    background: rgba(76, 175, 80, 0.0);
    position: relative;
    left: 0;
}
.n4v
{
	position: relative;
    #top: 80%;
    left: 0;
}
.nav{
    background-color: black ;
    opacity: 0.9 ;
}
.c4rous3l
{
    overflow: hidden;
	top: 100%;
    width: 85%;
    height: 60%;
    left: 7%;
	margin-bottom:10px;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      #width: 70%;
      margin: auto;
  }
  
 .updates
{
   
    overflow: scroll;
    #top: 150%;
    #left: 1%;
    background-color: #c5c2c2; 
    max-height: 40vh;
    #width: 25%;
    #position: relative;
}
#.updates1
{
          
    overflow: scroll;
    top: 4%;
    right: -75%;
    /* background-color: red; */
    height: 31%;
    width: 25%;
    position: relative;
    }
 .c0ntent
    {
    #top: 45%;
    #height: 30%;
    #width: 44%;
    #left: 28%;
    #position: relative;


    }
.col-height {
  display: table-cell;
  #float: none;
  height: 40%;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}